@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

$efents-color: #f60000;
$text-color: #1b1b1b;
$light-color: #fff;
$dark-color: #1b1b1b;
$max-width: 1244px;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $text-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.efents-root-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.efents-logo,
.efents-style {
  font-family: "Courgette", sans-serif;
  color: $text-color;
  font-size: 2.5rem;

  &.efents-logo {
    color: $dark-color;
  }

  span.accent {
    color: $efents-color;
  }
}

nav {
  grid-area: header;
  width: 95%;
  max-width: $max-width;
  margin: 0 auto;

  .navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  ul {
    margin: 0;
    margin-left: 7%;
    flex: 1;
    display: flex;
    list-style: none;
    align-items: center;
    align-self: stretch;

    li {
      cursor: pointer;
      transition: all 0.3s;
      margin-right: 1.5rem;

      &:last-child {
        margin-right: 0;
      }

      a,
      a:visited {
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: bold;
        color: $text-color;
        padding: 0.75rem 0;
        transition: all 0.3s;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 1.8rem;

        &::after {
          display: block;
          content: "";
          width: 0;
          height: 3px;
          margin-top: 0.4rem;
          transition: all 0.3s;
          background: $efents-color;
          border-radius: 1.5px;
        }
      }

      &:hover {
        a,
        a:visited {
          color: $efents-color;

          &::after {
            width: 80%;
          }
        }
      }
    }
  }

  .user-area {
    span {
      border: 1px solid $dark-color;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 3px 11px;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      transition: all 0.3s;

      &:hover {
        color: $efents-color;
        border-color: $efents-color;
      }
    }
  }
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
